body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    row-gap: 10px;
    background-color: #dfe1e5;
}
#logo{
    width: 100px;
    height: 100px;
}

.form-container{
    display: block;
    background-color: antiquewhite;
}
